body {
	background: url("../img/bg-sand.png") repeat-x scroll 0 0 rgb(245, 241, 232);
	border-top: 2px solid #fff;
}

footer {
	background: #fff;
	padding: 20px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 14px;
}

.container {
	/*text-align: center;*/
}

.featured {
	float: left;
	text-align: left;
	width: 90%;
	padding: 0 5%;

}

.tweet-card {
	float: left;
	width: 600px;
	height: 128px;
	padding: 16px 0 20px 0px;
}

.tweet-card .fullname {
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 2px;
}

.tweet-card .username {
	font-size: 14px;
	font-weight: normal;
	line-height: 15px;
	color: rgb(153, 153, 153);
}

.avatar {
	float: left;
	width: 128px;
	height: 128px;
	border-radius: 5px 5px 5px 5px;
	padding: 0 20px 20px 0;
}

.time {
	float: right;
	color: rgb(153, 153, 153);
}

.tweet {
	display: none;
}

.tweet-text {
	font-size: 20px;
	line-height: 30px;
}

.tweet-photo {
	float: left;
	padding: 10px;
	border: 1px solid rgb(214, 214, 214);
	border-radius: 20px;
	background-color: #ffffff;
}

.promo h4 {
	font-size: 18px;
}