body {
	background: url("../img/bg-sand.png") repeat-x scroll 0 0 rgb(245, 241, 232);
	border-top: 2px solid #fff;
	overflow: hidden;
}

footer {
	background: #fff;
	padding: 20px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 25px;
	line-height: 1;
}
footer h4 {
	margin-bottom: 10px;
}

.featured {
	float: left;
	text-align: left;
	width: 90%;
	padding: 0 5%;
}

.tweet-card {
	float: left;
	width: 600px;
	height: 128px;
	padding: 16px 0 20px 0px;
}

.tweet-card .fullname {
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 2px;
}

.tweet-card .username {
	font-size: 14px;
	font-weight: normal;
	line-height: 15px;
	color: rgb(153, 153, 153);
}

.avatar {
	float: left;
	width: 128px;
	height: 128px;
	border-radius: 5px 5px 5px 5px;
	padding: 0 20px 20px 0;
}

.time {
	float: right;
	color: rgb(153, 153, 153);
}

.tweet {
	display: none;
	font-size: larger;
}

.tweet-text {
	font-size: 20px;
	line-height: 30px;
}

.tweet-photo {
	float: left;
	padding: 10px;
	border: 1px solid rgb(214, 214, 214);
	border-radius: 20px;
	background-color: #ffffff;
}

#tweets {
	margin-top: 100px;
}

.tweet.has-photo {
	margin-top: -100px;
}

.promo h4 {
	font-size: larger;
}

.qr {
	position: relative;
	display: block;
}

.qr img {
	position: absolute;
	bottom: 0;
	display: block;
	width: inherit;
	margin-bottom: -20px;
}
